<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>

    <!-- Delegar el manejo de la app a iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Socket.io -->
        <rule name="SocketIO" stopProcessing="true">
          <match url="socket.io(.*)$" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- Todo lo demás va a Node (incluye archivos estáticos servidos por Express) -->
        <rule name="NodeApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configuración de iisnode -->
    <iisnode
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
      watchedFiles="*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
    />

    <!-- Documento por defecto -->
    <defaultDocument>
      <files>
        <clear />
        <add value="server.js" />
      </files>
    </defaultDocument>

    <!-- Deshabilitar directoryBrowse -->
    <directoryBrowse enabled="false" />

  </system.webServer>
</configuration>
